<!DOCTYPE html>
<html lang="pt">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Empréstimo de livros, Livros físico, Doação de livros">
    <meta name="author" content="CLedson Borges">
    <meta name="description" content="Descubra o nosso acervo, faça empréstimo e doação de livros">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<script src="{% static 'js/script.js' %}"></script>

            
    <title>Página Principal | Biblioteca Rokusan</title>
</head>
<body>
  <header>
      <h2 id="tituloPagina">Biblioteca Rokusan</h2>
      <div id="campoBusca">
          <h3>Pesquise</h3>
          <input id="busca" type="text" placeholder="Escreva aqui...">
          
          <h3>Ordenação</h3>
          <select id="seletor">
          <option>Ordem alfabética</option>
          <option>Mais Recentes</option>
          <option>Mais antigos</option>
          <option>Maiores</option>
          <option>Menores</option>
          </select>
          <br>
          <button id="botaoBusca">Buscar</button>
      </div>
  </header>
  <main>
      <div id="principal">
          <div class="campoLivro">
              <a href="book.html">
<img src="{% static 'img/capa.jpg' %}" alt="Imagem da capa">
              </a>
              <h4>Título</h4>
          </div>
          <div class="campoLivro">
              <a href="book.html">
<img src="{% static 'img/capa.jpg' %}" alt="Imagem da capa">
              </a>
              <h4>Título</h4>
          </div>
          <div class="campoLivro">
              <a href="book.html">
<img src="{% static 'img/capa.jpg' %}" alt="Imagem da capa">
              </a>
              <h4>Título</h4>
          </div>
          <div id="paginas">
              <ul>
                  <li><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
              </ul>
              <button id="bProximo">></button>
          </div>
      </div>  
  </main>
  
  <footer>
      <div id="contato">
          <h4 id="tituloRodape">Biblioteca Rokusan</h4>
          <span class="cat"><b>Email : </b></span>
          <span>
              <a href="#">cledsonborgesdossantos@gmail.com</a></span>
          <br>
          <span class="cat"><b>CEP : </b></span>
          <span><a href="#">41515-140</a></span>
          <br>
          <span class="cat"><b>Celular : </b></span>
          <span><a href="#">(71) 98215 - 7687</a></span>
          <br>
      </div>
      <div id="icons">
          
      </div>
      <div id="copy">
          <h6>CLedsonB 2026 © - Copyright</h6>
      </div>
  </footer>
</body>
</html>